.form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }

.formdiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logoutbutton{
    margin: 40px;
    background-color: #000000;
    color: #000000;
}
  
.input {
    background-color: #dd4d51;
    border-color: #000000;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #000000;
    font-size: 16px;
    padding: 10px;
    width: 90vh;
  }
  
  .input:focus {
    outline: none;
    box-shadow: 0 0 3px 3px #ff0000;
  }
  